@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Montserrat', sans-serif;
	font-size: .95em;
	font-weight: normal;
	color: #212121;
	background-color: #f9f7f7;
}

a, li, h1, h2, h3 {
	text-decoration: none;
	list-style: none;
}
li {
	margin: 5px;
}

h1 {
/* 	border: 1px solid red; */
	font-size: 54px;
	background: none;
	font-family: 'Lobster', cursive;
	padding: 20px;
	font-weight: normal;
	font-variant: normal;
	color: #f9f7f7;
}
.main-container {
/* 	border: 1px solid red; */
	display: flex;
	flex-direction: column;
	background-color: #f9f7f7;
	height: 100vh;
}
.nav-bar {
/* 	border: 1px solid red; */
	background-color: #4f72af;
	color: #f9f7f7;
	box-shadow: 1px 1px 8px #383e5677;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
	position: fixed;
	width: 100%;
}

.nav-bar nav {
/* 	border: 1px solid red; */
	display: flex;
	flex-direction: row;
}
.nav-bar nav li a {
/* 	border: 1px solid red; */
	display: flex;
	color: #f9f7f7;
}

main {
/* 	border: 1px solid red; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 105px 0 38px 0;
	padding: 0 40px;
}

.project-name {
	color: #112d4e;
	padding: 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 2em;
}
#out {
	/* border: 1px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #dbe2ef;
	color: #112d4e;
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 2em;
	width: 45%;
	height: 50%;
	border-radius: 5px;
}

footer {
/* 	border: 1px solid red; */
	background-color: #dbe2ef;
	color: #112d4e;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
}