* {
    font-family: 'Muli';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}
a {
    color: #40488F;
}

.timer_title {
text-align: center;
padding-bottom: 30px;
}

body button {
    border: none;
    margin: 5px;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    font-weight: 650;
    font-size: 20px;
    box-shadow: none;
}

body button:hover {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    transition-duration: .6s;
}

.app {
    background-color: #FBFCFE;
    background-image: url(bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer {
    text-align: center;
    width: 500px;
    height: 500px;
    padding: 15px;
    background: rgba(255, 255, 255, .4);
    border-radius: 50%;
    color: #111;
    font-weight: 600;
    position: relative;
    overflow: unset;
}

.timer_veuw {
    font-size: 90px;
    position: absolute;
    top: 40%;
    left: 15%;
}

.buttons {
    position: absolute;
    top: 300px;
    right: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start {
    margin-left: 70px;
    background-color: #40878F;
}

.stop {
    margin-left: 50px;
    background-color: #40488F;
}

.reset {
    margin-left: 30px;
    background-color: #B9486E;
}